doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/styles.css")
        title Fakecatchmind
    body
        .loginBox
            form#gameLogin
                input(type="text" placeholder="What your game nickname?" )
        .gameContainer#gameCatchMind
            .main
                canvas.canvas#gameCanvas
                .controls#controls
                    button#canvasMode Fill
                    button#canvas__delete delte
                    input(type="range", min="1", max="10", value="5",step="0.5" )#line__width
                    input(type="color").colors#color
            .chat
                ul.chat__messages#gameMessages
                form.chat__form#gameSendMsg
                    input(type="text", placeholder="Write a message")
        script. 
            window.events = !{events}
        script(src="/socket.io/socket.io.js")
        script(src="js/main.js")